body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex; 
    align-items: center;
    justify-content: center; 
    background-color: #000;
  }
  
  .container-wrapper {
    margin-top: 5%;
    display: flex;
    width: 42%;
    height: 80%;
    background: url('pared.png');
    border: 3px solid #424242;
    border-radius: 10px;
  }
  
  .container {
    width: 40%;
    padding: 10px;
    border-right: 1px solid black;
  }
  
  .game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    background-color: #292b2c;
  }
  
  #score-container, #time-container{
    margin: 10px;
    color: #fff;
    border: 2px solid gray;
    padding: 20px;
    border-radius: 5px;
    width: 70px;
    background: black;
    font-family:"VT323", monospace;
    font-size: 23px;
    text-align: center;
}
  
  #canvas {
    flex: 1;
    background-color: #000;
  }
  
  .controls {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 10px;
    background-color: #292b2c;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
  }
  
  #start-button {
    background-color: #4CAF50;
  }
  
  #restart-button {
    background-color: #f44336;
  }
  
  /* Tetris game board styling */
  #tetris {
    border: 2px solid #fff;
    border-radius: 5px;
  }
  
  .sidebar {
    width: 100%;
    padding: 10px;
  }
  
  .sidebar h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .stats {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  

  .players-container{
    margin: 10px;
    color: #fff;
    border: 2px solid gray;
    padding: 20px;
    border-radius: 5px;
    width: 205px;
    background: black;
    font-family:"VT323", monospace;
    font-size: 23px;
    text-align: center;
  }

  #next-piece{
    margin: 10px;
    color: #fff;
    border: 2px solid gray;
    padding: 20px;
    border-radius: 5px;
    width: 205px;
    height: 80px;
    background: black;
    font-family:"VT323", monospace;
    font-size: 23px;
    text-align: center;
  }

  .empty-container {
    flex: 1;
    background-color: #424242;
  }  
  
@media screen and (max-width: 768px) {
    #players-container {
        margin-right: 0;
        margin-bottom: 0;
    }

    .controls {
        margin-top: 20px;
    }
}

.error-message{
    color: red;
    margin-top: 10px; 
    display: none;
}
